<<<<<<< HEAD
/* You can add global styles to this file, and also import other style files */

=======
@font-face {
  font-family: 'PoppinsBlack';
  src: url('assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "Peter";
    src: url('assets/fonts/Peter-Test-Medium-BF641a641eb64fa.ttf') format('truetype');
}

@font-face {
    font-family: "SocialGothic";
    src: url('assets/fonts/Social\ Gothic\ Medium.otf') format('opentype')
}
>>>>>>> origin/felipe
