/* Título */
.titulo-zonas {
  color: #888888;
  font-size: 32px;
  font-weight: 600;
  margin-top: 40px;
}

/* Tabla */
.tablaZonas {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.tablaZonas th,
.tablaZonas td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
}

.tablaZonas thead th {
  background-color: #eeeeee;
  font-weight: normal;
}

.tablaZonas tbody tr:hover {
  background-color: #f5f5f5;
}


/* Contenedor de la paginación centrado */
.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Permite que se acomoden en varias líneas si no entran */
  gap: 8px; /* Espacio entre botones */
  padding: 20px 0;
}

/* Estilos opcionales para los links */
.page-link {
  color: #ff5757;
  border: 1px solid #ff5757;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.page-link:hover {
  background-color: #ff5757;
  color: white;
}

/* Responsive en pantallas pequeñas */
@media (max-width: 576px) {
  .pagination {
    flex-direction: column;
    align-items: center;
  }

  .page-item {
    width: 100%;
    text-align: center;
  }

  .page-link {
    width: 100%;
  }
}
