<div class="text-center mb-5">
  <h1 class="fw-bold titulo-zonas">Eliminar una Zona</h1>
</div>

<div class="form-zonas-container">
  <p class="descripcion-form">Ingrese el ID de la zona que desea eliminar.</p>

  <form [formGroup]="deleteForm" (ngSubmit)="onDelete()">
    <!-- Campo ID -->
    <div class="form-group">
      <label for="idZone">ID de la Zona:</label>
      <input
        id="idZone"
        type="number"
        class="form-control"
        formControlName="idZone"
      />
      <div *ngIf="idZone?.invalid && (idZone?.touched || idZone?.dirty)" class="error">
        <small *ngIf="idZone?.errors?.['required']">El ID es obligatorio.</small>
      </div>
    </div>

    <!-- Botón de eliminación -->
    <div class="form-actions">
      <button type="submit" class="btn-form btn-danger">Eliminar Zona</button>
    </div>
  </form>
</div>
