<div class="barra-superior"></div>
<div class="container" id="login-container">
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4">
      <h1 class="titulo text-center mb-4">Ingresá</h1>
      <h2 class="subtitulo text-center mb-4">Iniciá sesión para continuar</h2>
      <form>
        <div class="mb-3">
          <label for="email" class="form-label">CORREO ELECTRÓNICO</label>
          <input type="email" class="form-control" id="email" placeholder="usuario@ejemplo.com" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">CONTRASEÑA</label>
          <input type="password" class="form-control" id="password" placeholder="••••••••" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Ingresar</button>
      </form>
    </div>
  </div>

</div>
